@use 'variables' as var;
@use 'mixins' as mix;

.main-container {
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: black;
}

.card {
   display: flex;
   align-items: stretch;
   background-color: var.$veryDarkBlue;
   color: var.$white;
   font-family: 'Inter', sans-serif;
   border-radius: 10px;
   padding: 10.8rem 10rem;

   @include mix.breakpoint(large) {
      flex-direction: column-reverse;
      padding: 5.86rem 1.6rem;
      min-width: 26.67rem;
   }

   &__text {
      padding: 4.8rem 4.4rem;
      background-color: var.$darkDesaturatedBlue;
      line-height: 1.5;

      @include mix.breakpoint(large) {
         padding: 3rem;
         text-align: center;
      }

      & .highlight__word {
         color: var.$softViolet;
      }
   }

   &__title {
      font-size: 1.73rem;
      font-weight: 700;

      @include mix.breakpoint(large) {
         font-size: 1.47rem;
      }
   }

   &__description {
      color: var.$greyishWhite;
      margin-bottom: 5.33rem;
      font-weight: 400;
   }

   &__stats {
      display: flex;
      align-items: center;
      justify-content: space-between;

      @include mix.breakpoint(large) {
         flex-direction: column;
      }

      .stat {
         text-transform: uppercase;
      
         &__value {

            font-weight: 700;
            font-size: 1.13rem;
            margin: 0;

            @include mix.breakpoint(large) {
               font-size: 1.33rem;
            }
         }
      
         &__description {
            color: var.$greyishWhite;
            font-size: 0.666rem;
            letter-spacing: 2px;
            font-family: 'Lexend Deca', sans-serif;

            @include mix.breakpoint(large){
               margin-bottom: 2.4rem;
            }
         }
      }
   }

   &__image__container {
      position: relative;
      background-image: url('/images/image-header-desktop.jpg');
      width: 100%;
      background-size: cover;

      @include mix.breakpoint(large){
         height: 16rem;
      }

      
      &::after{
         content: "";
         position: absolute;
         background: hsla(277, 64%, 61%, 50%);
         top: 0;
         left: 0;
         right: 0;
         bottom: 0;
      }
   }
}