// Global colors
$veryDarkBlue: hsl(233, 47%, 7%);
$darkDesaturatedBlue: hsl(244, 38%, 16%);
$softViolet: hsl(277, 64%, 61%);
$white: hsl(0, 0%, 100%);
$mainWhite: hsla(0, 0%, 100%, 0.75);
$greyishWhite: hsla(0, 0%, 100%, 0.6);

// Font sizes
$generalFontSize: 15px;

// Fonts
@import url('https://fonts.google.com/specimen/Inter');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;400;700&display=swap');